@import "compass/utilities/sprites";

$icons-sprite-dimensions: true;
$icons-layout: horizontal;
$icons-spacing: 5px;
@import "icons/*.png";
@include all-icons-sprites;

#logo-text:before {
    @include icons-sprite(logo);
}

#nav-drawer-toggle {
    position: absolute;
    cursor: pointer;
    margin-top: 8px;
    @include icons-sprite(options);
}

.icon {
    position: relative;
    
    &:before {
        position: absolute;
        left: 0;
    }
}

.small-icons .icon:before {
    content: '';
    display: block;
    float: left;
}

.icon {
    &.dice:before { @include icons-sprite(dice); }
    &.clock:before { @include icons-sprite(clock); }
    &.library:before { @include icons-sprite(library); }
    &.group:before { @include icons-sprite(group); }
    &.trophy:before { @include icons-sprite(trophy); }
}

.back {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    @include icons-sprite(arrow-left-circle);
}

.close-icon {
    display: block;
    @include icons-sprite(x-circle);
}