@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Sansita+One);
$sansFontFamily:   'PT Sans Narrow',tahoma,sans-serif;
$headerFontFamily: 'Sansita one', Georgia, serif;

body {
    font-family: $sansFontFamily;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
}

.heading {
    font-family: $headerFontFamily;;
    font-size: 60px;
    line-height: 1.2em;
    font-weight: 400;
}

hr {
    border: solid 0 #ccc;
    border-top-width: 1px;
    clear: both;
    height: 0;
}

h1 {
    font-size: 25px;
    line-height: 1.2em;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}