<a class="back"></a>
<div id="game-image-main"></div>
<a class="button square main play">Schedule a play</a>
<section class="game-details">
    <h1>{{name}}</h1>
    <p>Play Count: 6 times</p>
    <p>W/L Ratio: 3/6 (50%)</p>
    <p>Last Played: Dec. 23 2013</p>
</section>