<div id="{{id}}" class="modal{{#unless noAnimation}} hide{{/unless}}{{#if hasBackground}} has-background{{/if}}">
    <div id="modal-backdrop" class="dismiss"></div>
    <div class="modal-container">
        <section class="modal-header"></section>
        <ul class="error-container"></ul>
        <section class="modal-body"></section>
        <section class="modal-actions hide"></section>
    </div>
</div>