<ul class="active-games horizontal left"></ul>
<div class="row step-1">
    <span class="step-count">1</span>
    <label for="choose-game">Choose Game(s)</label>
    <ul class="choose-game-list horizontal left"></ul>
</div>
<div class="row step-2">
    <span class="step-count">2</span>
    <label for="scheduleDate">Choose Date</label>
    <input type="text" id="scheduleDate" placeholder="Date" key="scheduleDate" value="{{scheduleDate}}" />
</div>
<div class="row step-3">
    <span class="step-count">3</span>
    <label for="scheduleDate">Recruit Players</label>
</div>